# IDE
.vscode

# Prerequisites
/Application/*.d
/Tests/*.d

# Compiled Object files
/Application/*.slo
/Application/*.lo
/Application/*.o
/Application/*.obj
/Tests/*.slo
/Tests/*.lo
/Tests/*.o
/Tests/*.obj

# Precompiled Headers
/Application/*.gch
/Application/*.pch
/Tests/*.gch
/Tests/*.pch

# Compiled Dynamic libraries
/Application/*.so
/Application/*.dylib
/Application/*.dll
/Tests/*.so
/Tests/*.dylib
/Tests/*.dll

# Fortran module files
/Application/*.mod
/Application/*.smod
/Tests/*.mod
/Tests/*.smod

# Compiled Static libraries
/Application/*.lai
/Application/*.la
/Application/*.a
/Application/*.lib
/Tests/*.lai
/Tests/*.la
/Tests/*.a
/Tests/*.lib

# Executables
/Application/*.exe
/Application/*.out
/Application/*.app
/Application/mb-ar-app
/Tests/*.exe
/Tests/*.out
/Tests/*.app
/Tests/testsuite

# Resources
/Application/Resources
/Application/Images/CameraCalibration

.depend
